<div class="footer">
  <div class="main-content">
    <div class="signup-form">
      <h5>Sign up for updates</h5>
      <div class="email-input">
        <input type="email" placeholder="Enter your email" />
        <button>Subscribe</button>
      </div>
      <p class="signup-text">Get the latest news and exclusive offers</p>
    </div>

    <div class="content">
      <h5>Contact Info</h5>
      <li>
        <mat-icon fontSet="material-icons-outlined"> location_on</mat-icon
        ><a href="#"> Lebanon</a>
      </li>
      <li><mat-icon> call</mat-icon> <a href="#"> +961 81232216</a></li>
      <li>
        <mat-icon> mail_outline</mat-icon
        ><a href="#">charbelasd17&#64;icloud.com</a>
      </li>
    </div>

    <div class="content">
      <h5>Reach out</h5>
      <li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/charbel.asd/" target="_blank"> Instagram</a></li>
      <li><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/charbel-assaad-a902502b4?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank"> Linkedin</a></li>
    </div>
  </div>

  <div class="end-text">
    <p>©2025 All rights reserved</p>
  </div>
</div>
