@import '../../../../../styles/buttons';
section {
  padding: 5% 12% 0;
}
.home {
  padding: 80px 12% 10px;
  height: 80vh;
  
  background-image: url('/assets/images/47.png');
  background-color: #000;
  background-size: cover;
  background-position: center;
  
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 1.5rem;
}

.home-text {
  max-height: 100%;
  h3 {
    color: var(--accent-color);
    font-size: var(--font-large);
    margin: 0;
    margin-bottom: 1rem; /* Add space below */
    span {
      color: black;
      background-color: var(--primary-color);
      font-size: var(--font-x-large); /* Reduced from xxx-large */
      padding: 0 1rem;
    }
  }

  h1 {
    font-size: var(--font-x-large);
    margin: 0;
    margin-top: 0.5rem;
  }
  button {
    border-style: none;
    @include button-default(15rem, 2.5rem);
    font-size: larger;
    font-weight: bolder;
    padding: 0 1.5rem;
    margin: 2rem 0;
  }
}

h2 {
  margin: 0;
  margin-bottom: 5%;
  font-size: var(--font-large);
  
  .highlight {
    color: black;
    background-color: var(--primary-color);
    padding: 0 0.5rem;
  }
}

#about-us {
  span {
    color: var(--accent-color);
    font-weight: 500;
  }
}

.about-container {
  display: flex;
  gap: 3rem;
  align-items: center;
  text-align: justify;
  
  div {
    line-height: 1.6;
    
    span {
      color: var(--accent-color); /* Ensure spans have the accent color */
    }
  }
}

@media (max-width: 760px) {
  .about-container {
    flex-direction: column;
  }
}
