nav {
  height: auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3%;
  position: relative;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .nav-logo {
    height: 35px;
    width: auto;
  }
}

.links {
  flex: 1;
  display: flex;
  gap: 1rem;
  padding: 0;
  a {
    color: var(--text-color);
    text-decoration: none;
    font-size: var(--font-small);

    &:hover {
      color: var(--border-color);
    }

    &:active {
      color: var(--accent-color);
      font-weight: bolder;
    }
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .nav-logo {
    height: 50px;
    width: auto;
  }

  .logo-name {
    display: none; /* Hide the text */
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}
.icons {
  justify-self: flex-end;

  align-self: flex-end;
  display: flex;
  gap: 0.5rem;

  mat-icon {
    font-size: var(--font-large);
  }
  button {
    transition: all 0.3s ease;

    &:hover {
      transform: scale(0.95);
    }
  }
}

@media (max-width: 1000px) {
  // nav {
  //   grid-template-columns: 1fr 1fr;
  // }
  .links {
    display: none;
  }
  .hidden-links-menu {
    display: block;
    a {
      text-decoration: none !important;
    }
  }
}
