<div class="sale-poster">
  <div class="poster-text">
    <h2>Special offers for <span> Black Friday!</span></h2>
    <h1>Enjoy UP TO <span>50%</span> OFF</h1>
    <h3>Use your <span> university's discount code</span> at checkout!</h3>
    <button class="see-all-btn" (click)="navigateToSale()">See All</button>
  </div>
  <div class="images-container">
    <div class="img-container left">
      <img src="/assets/images/33.jpg" alt="sale" />
    </div>
    <div class="img-container right">
      <img src="/assets/images/34.png" alt="new collection" />
    </div>
  </div>
</div>
